# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Build Go peerdb-catalog/pgSetup

on:
  push:
    branches: [ "main" ]
    paths:
    - "peerdb-catalog/pgSetup/**"
    - ".github/workflows/go.yml"
  pull_request:
    branches: [ "main" ]
    paths:
    - "peerdb-catalog/pgSetup/**"
    - ".github/workflows/go.yml"
jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

    - name: Set up Go
      uses: actions/setup-go@7b8cf10d4e4a01d4992d18a89f4d7dc5a3e6d6f4 # v4
      with:
        go-version: '1.24.4'
        cache-dependency-path: peerdb-catalog/pgSetup/go.sum


    - name: Build
      working-directory: ./peerdb-catalog/pgSetup
      run: go build -v ./...

    - name: Test
      working-directory: ./peerdb-catalog/pgSetup
      run: go test -v ./...
